*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 30px;
    box-shadow: 12px 12px 27px;
    width: auto;
    height: 37rem;
}
img{
    width: 120%;
    height: 37.5rem;
    border-top-left-radius: 29px;
    border-bottom-right-radius: 329px;
}
.login h1{
    font-size: 4rem;
    font-weight: 300;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 26px 19px 30px 19px rgba(0, 0, 0, 0.35);
}
.btn1{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-image: linear-gradient(to right top, #6bb4d1, #6cb1e0, #7cacec, #99a4f1, #bb99ed, #db90db, #f289c4, #ff86a9, #ff9586, #ffb261, #fdd74b, #c6fb5f);
}
.btn1:hover{
    background-image: linear-gradient(to left bottom, #6bc9d1, #58c4e5, #61bcf6, #85b0fd, #b2a0f6, #d796e4, #f08ecb, #ff8aae, #ff9891, #ffb371, #ffd65a, #ecfb5f);
}
.fa-facebook{
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}
.fa-facebook:hover{
    color: blue;
}
.fa-instagram{
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}
.fa-instagram:hover{
    color: #ff215a;
}
.fa-linkedin{
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}
.fa-linkedin:hover{
    color: blue;
}